<body>
    <div id=grad>
    <div class=center>
      <h3>Login</h3>
      <div class = signUps>
        <label for="email">Email   </label>
        <input id="email" value="test@test.com">
        <br>
        <label for="password">Password </label>
        <input id="password" value="test">
        <br>
        <button onclick="signUp()">Sign Up</button>
        <button onclick="logIn()">Log In</button>
                
      </div>
    </div>
</div>
    <router-outlet></router-outlet>
</body>

